<% provide(:title, "New Tweet") %>
<% provide(:button_text, "Create") %>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8">
    <div class="card tweet-card">
      <div class="card-body">
        <h3 class="mb-4">New Tweet</h3>

        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
