<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h3>Tweets</h3>
      <%= link_to "New tweet", new_tweet_path, class: "btn custom-primary-btn", title: "New tweet" %>
    </div>

    <% @tweets.each do |tweet| %>
      <%= render "tweets/tweet", tweet: tweet %>
    <% end %>
  </div>
</div>
