.bg-custom {
  background-color: #00BCD4;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 600;
  font-size: 24px;
}

.nav-link {
  color: #FFFFFF !important;
}
