.tweet-card {
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 15px;
  border: 0;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);

  .card-body {
    padding: 2rem;
    padding-bottom: 1rem;
  }

  .tweet-header {
    margin-bottom: 30px;
  }

  .user-initial {
    height: 43px;
    width: 43px;
    background-color: #bababa;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    flex: 1 0 auto;
  }

  .user-full-name {
    font-weight: 500;
  }

  .action-buttons {
    width: 203px;
    flex: 0 1 auto;
  }

  .comment-action-buttons {
    width: 106px;
    flex: 0 1 auto;
  }

  .tweet-link {
    flex: 1;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #b8b8b8;
    }

    span {
      display: block;
      margin-right: 10px;
      color: #000000;
    }
  }

  .retweet-container {
    color: #000000;
    display: flex;
    transition: all 0.3s ease;
    margin-top: 35px;
    border-radius: 15px;

    .tweet-card {
      box-shadow: none;
      border: 1px solid #D8D8D8;
      margin: 0;
      background-color: transparent;
    }

    &:hover {
      background-color: #EBEBEB;
    }
  }
}

.form-tweet-card .card-body {
  padding: 2rem;
}
